services:
  prometheus:
    image: prom/prometheus:latest
    container_name: monitoring_prometheus
    restart: unless-stopped
    volumes:
      - ./data/prometheus/config:/etc/prometheus/
      - ./data/prometheus/data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.retention.time=7d'
    ports:
      - 9090:9090
    networks:
      - monitoring
    user: root

  node-exporter:
    image: prom/node-exporter:latest
    container_name: monitoring_node_exporter
    restart: unless-stopped
    ports:
      - 9100:9100
    volumes:
      - /:/hostfs:ro
    command:
      - '--path.rootfs=/hostfs'
    networks:
      - monitoring

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: monitoring_cadvisor
    restart: unless-stopped
    command:
      - '--port=8082'
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    ports:
      - 8082:8082
    networks:
      - monitoring

  qbittorrent-exporter:
    image: caseyscarborough/qbittorrent-exporter:latest
    container_name: qbittorrent-exporter
    restart: unless-stopped
    environment:
      - QBITTORRENT_USERNAME=admin
      - QBITTORRENT_PASSWORD=<your_password>
      - QBITTORRENT_BASE_URL=http://192.168.1.13:8081
    ports:
      - 17871:17871
    networks:
      - monitoring

networks:
  monitoring:
    driver: bridge
