services:
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Warsaw
    volumes:
      - ./radarr-config:/config
      - /mnt/ssd_plex/content/movies:/movies
      - /mnt/ssd_plex/content:/downloads
    ports:
      - 7878:7878
    restart: unless-stopped
    depends_on:
      - jackett

  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Warsaw
    volumes:
      - ./jackett-config:/config
      - /mnt/ssd_plex/content:/downloads
    ports:
      - 9117:9117
    restart: unless-stopped

  flare:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=info
    ports:
      - 8191:8191
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Warsaw
    volumes:
      - ./sonarr-config:/config
      - /mnt/ssd_plex/content/shows:/tv
      - /mnt/ssd_plex/content:/downloads
    ports:
      - 8989:8989
    restart: unless-stopped
    depends_on:
      - qbittorrent
      - jackett
